/* Forms */
input[type="checkbox"],
input[type="radio"],
input[type="range"],
progress {
    accent-color: var(--primaryColor);
}

input {
    border-radius: 10px;
    background-color: #eee;
    border: unset;
    border: 1px solid #ddd;
    min-height: 3rem;
    padding: 1ch 1.5ch;
    width: 100%;
    @media (prefers-color-scheme: dark) {
        background-color: #efefff;
    }
}
search {
    padding-bottom: 2rem;
    display: block;
    &:has(+ details) {
        padding-bottom: 0.5ch;
    }
}

input,
label {
    font-weight: 900;
}