h1 {
    font-size: var(--fluid-4);
    margin-bottom: 0.5em;
}

h2 {
    font-size: var(--fluid-3);
    margin-top: 1em;
    margin-bottom: 0.5em;
}

h3 {
    font-size: var(--fluid-3);
    margin-bottom: 1rem;
}

.title {
    font-family: Mont, sans-serif;
    margin-bottom: 0.15em;
    margin-top: 0.5em;
    letter-spacing:-0.025em;
    font-size: var(--fluid-3);
    position: relative;
    a {
        color: var(--textColor);
        text-decoration-color: transparent;
        transition: text-decoration-color 0.25s ease;
        &:hover {
            text-decoration-color: currentcolor;
        }
    }
}

.post {
    h1 {
        font-size: var(--fluid-1);
    }
    h2, h3 {
        font-size: var(--fluid-0)
    }
}