<footer class="site-footer" role="contentinfo">
    <div class="site-footer__inner container">
        <p><span>built by <a href="https://ginger.wtf">ginger</a> &copy; {{ build.timestamp | dateToFormat('yyyy') }}</span><small class="timestamp">Last built: {{ build.ts }}</small></p>
    </div>
</footer>
