<footer class="site-footer" role="contentinfo">
    <div class="site-footer__inner container">
        
        <p><span>built by gingerchew &copy; {{ build.timestamp | dateToFormat('yyyy') }}</span><small class="timestamp">Last built: {{ build.ts }}</small></p>
    </div>
</footer>
