.site-footer {
    font-family: Arial, Helvetica, sans-serif;
    p {
        font-size: 1em;
        gap: 0.5em;
        margin-block: 0.5em;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__container {
        position: relative;
        margin: 0 auto;
        padding: var(--columnPaddingNormal);
        
        display: block;
        
        @media(min-width: 60em) {
            padding: calc(2 * var(--columnPaddingNormal));
        }
    }

    a {
        font-weight: bold;
        text-decoration: underline;
        color: inherit;
    }
    .timestamp {
        float: right;
        font-family:Arial, Helvetica, sans-serif;
    }
}
