
ul.pagination {
    display: flex;
    column-gap: 1ch;
    row-gap: 0.5ch;
    flex-wrap: wrap;
    padding-bottom: 2rem;
    margin: 0;
}

details {
    padding-top: 0.5rem;
    padding-bottom: 2rem;
    ul.pagination {
        padding-bottom: 0;
    }
    font-weight: 900;
}