:root {
    --textColor: #121314;
    --primaryColor: #1b2fe4;
    --focusColor: #d1d5fa;
    --backgroundColor: hsl(220, 60%, 99%);
}

// Very basic support for a dark color scheme
@media (prefers-color-scheme: dark) {
    :root {
        --color-mode: 'dark';
    }

    :root:not([data-user-color-scheme]) {
        --backgroundColor: #121314;
        --textColor: hsl(220, 60%, 99%);
        --primaryColor: #fbfbfe;
    }
}
