@font-face {
    font-family: 'Mont';
    font-weight: 100;
    font-display: swap;
    src: local(''), url('/assets/fonts/mont/Mont-ExtraLightDEMO.otf') format('opentype');
}
@font-face {
    font-family: 'Mont';
    font-weight: 900;
    font-display: swap;
    src: local(''), url('/assets/fonts/mont/Mont-HeavyDEMO.otf') format('opentype');
}
body {
    font-family: Mont, sans-serif;
}/*
.fonts-loaded-1 body {
    font-family: 'DM Sans Subset';
}
.fonts-loaded-2 body {
    font-family: 'DM Sans';
}
*/