---
layout: base
eleventyNavigation:
  key: Home
  order: 1
---

<div class="container" v-scope>
  <script id="$data" type="application/json">
    [ {%- for domain in domains %}{% if loop.index0 != 0 %},{% endif %}"{{ domain }}"{% endfor %} ]
  </script>
  <section class="list">
    <search>
      <label for="search">Search list</label>
      <input type="search" @input="search" id="search" />
    </search>
    <ul class="pagination" v-scope="Pagination()"></ul>
    <ul class="domains" role="list" id="$list" v-scope="Domains()">
      <noscript>
      {% for domain in domains %}
        <li>.{{ domain }}</li>
      {% endfor %}
      </noscript>
    </ul>
  </section>
  <script type="module" src="{{ '/assets/js/main.js' | url }}"></script>
</div>
