<!DOCTYPE html>
<html lang="{{ meta.lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ meta.title }}</title>
	<style>
		[v-cloak] { display: none }
	</style>
    {% include "meta.njk" %}
    
	<link rel="stylesheet" href="/assets/css/main.scss" media="print" onload="this.onload=null;this.media = 'all';" />
</head>
<body>
    <a href="#main" class="skiplink">Skip to main content</a>

    <div class="layout" v-scope>
		<header class="container nav">
			<h1 class="title"><a href="/">Top Level Domains</a></h1>
			<a href="/about">About</a>
		</header>
        <main id="main" class="main">
            {{ content | safe }}
        </main>
		{% include "footer.njk" %}
    </div>
	<script defer data-domain="top-level.dev" src="https://plausible.io/js/script.js"></script>
</body>
</html>
